*{
    margin: 0;
    padding: 0;
}
.container{
    width: 512px;
    margin: 0 auto;
}
.container header{
    line-height: 50px;
    text-align:center;
    font-size: 20px;
}
.container .content{
    width: 512px;
    height:480px;
    background-image: url(./img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container .content .time{
    color: white;
    font-size:30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    border-radius: 6px;
    padding: 5px;
    transform: translateX(-50%);
    user-select: none;
}
@media screen and (max-width:768px){
    .container .content .time{
        font-size: 15px;
    } 
}
.container .content .hero,
.container .content .monster{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index:1;
    position: absolute;
}

.container .content .hero{
    background-image: url(img/hero.png);
}

.container .content .monster{
    background-image: url(img/monster.png);  
}

footer{
    text-align: center;
    margin-top: 10px;
}
button.start{
    /* width: 90px; */
    padding: 0 10px;
    height: 38px;
    border: none;
    background-color: #abcdef;
    color: #000;
    font-weight: bold;
    font-size:16px;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    display: block;
    outline: none;
}
.key{
    display: flex;
    flex-direction: column;
}
.key button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.key .top,
.key .bottom{
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}
.key .bottom button{
    margin: 0 3px;
}

.key #up{
    background-image: url(./img/btn-up.png);
}
.key #down{
    background-image: url(./img/btn-down.png);
}
.key #left{
    background-image: url(./img/btn-left.png);
}
.key #right{
    background-image: url(./img/btn-right.png);
}

button{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@media screen and (max-width:500px){
    .container header{
        font-size: 14px;
    }
    .container{
        width: calc(100% - 10px);
        margin: 0 auto;
    }
    .container .content{
        width: 100%;
        height:100%;
        padding-bottom: 100%;
        background-image: url(./img/background.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
}